<div class="hero">
    <br />
    <br />
    <div class="frosty col-xs-10 col-xs-offset-1 text-center">
        <br />
        <h1>Learn Magic from the Pros</h1>
        <br />
        <h2>I'm an illusionist, Michael.</h2>
        <br />
        <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
        <br /><br />
    </div>
</div>
<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
    <div class="col-sm-4">
        <%= image_tag 'play_button.png' %>
        <h4>Easily accessible video lessons to learn really cool stuff!</h4>
    </div>

    <div class="col-sm-4">
        <%= image_tag 'laptop.png' %>
        <h4>Learn anywhere from any connected device!</h4>
    </div>

    <div class="col-sm-4">
        <%= image_tag 'code.png' %>
        <h4>Learn to code from the best program in the country - <a href="http://thefirehoseproject.com">TheFirehoseProject</a>
    </div>
</div>